<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>teamID</key>
    <string>5K5U64U7T6</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>provisioningProfiles</key>
    <dict>
      <key>org.ci-test</key>
      <string>CI_DISTRIBUTION</string>
    </dict>
  </dict>
</plist>